@model List<Product>
@{
    ViewData["Title"] = "Index";
}
@section Links{
    <link rel="stylesheet" href="~/css/checkout.css">
}

<section class="inner-section single-banner" style="background: url(images/single-banner.jpg) no-repeat center;">
    <div class="container">
        <h2>checkout</h2>
    </div>
</section>
<section class="inner-section checkout-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="account-card">
                    <div class="account-title">
                        <h4>Your order</h4>
                    </div>
                    <div class="account-content">
                        <div class="table-scroll mb-3">
                            <table class="table-list">
                                <thead>
                                    <tr>
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">brand</th>
                                        <th scope="col">quantity</th>
                                        <th scope="col">action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="table-serial">
                                            <h6>01</h6>
                                        </td>
                                        <td class="table-image"><img src="images/product/01.jpg" alt="product"></td>
                                        <td class="table-name">
                                            <h6>product name</h6>
                                        </td>
                                        <td class="table-price">
                                            <h6>$19<small>/kilo</small></h6>
                                        </td>
                                        <td class="table-brand">
                                            <h6>Fresh Company</h6>
                                        </td>
                                        <td class="table-quantity">
                                            <h6>3</h6>
                                        </td>
                                        <td class="table-action">
                                            <a class="view" href="#" title="Quick View" data-bs-toggle="modal" data-bs-target="#product-view">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                            <a class="trash" href="#" title="Remove Wishlist">
                                                <i class="icofont-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="checkout-charge">
                            <ul>
                                <li><span>Sub total</span><span>$267.45</span></li>
                                <li><span>discount</span><span>$00.00</span></li>
                                <li><span>Total</span><span>$277.00</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="account-card mb-0">
                    <div class="account-title">
                        <h4>payment option</h4>
                    </div>
                    <div class="checkout-proced">
                        <a href="#" class="btn btn-inline">proced to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
