
@{
    ViewData["Title"] = "VerifyEmail";
}

<div class="container my-4">
    <div class="alert alert-primary" role="alert" style="padding-top: 10px;padding-bottom: 10px;border-radius: 10px;">
        Please check your email!
    </div>
</div>