@model SubCategoryEditVM
@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h1 class="my-5 text-center">Edit Subcategory</h1>

    <form method="post" enctype="multipart/form-data" asp-action="Edit">
        <div class="form-group mt-3">
            <input asp-for=Name class="form-control" placeholder="Name" />
        </div>
        <div class="form-group mt-3">
            <select asp-for=CategoryId class="form-control" asp-items="ViewBag.categories"></select>
        </div>
        <div class="text-danger" asp-validation-summary="All"></div>
        <a asp-action="Index" class="btn btn-primary">Back</a>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
